body{
  margin: 0px;
  background: url(gradient.png) no-repeat;
  background-size: cover;
 }
header{
  width: 60%;
  background-color: rgb(177, 29, 140);
  padding: 15px;
  margin: auto;
  height: 100px;
  position: relative;
  max-width: 960px;
}
#head{
  width:100%; 
  background:rgb(177, 29, 140);
}
#logo{
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
 }
nav{
  clear: both;
}
.center{
  color: rgb(0, 0, 0);
  background-color: rgb(207, 178, 224);
  border: 1px solid rgb(152, 134, 255);
  max-width: 960px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 15px;
}
#menu a{
  margin-right: 100px;
}
a{ 
  text-decoration: none; 
  color:rgb(92, 16, 122);
}
table{
  border-collapse: collapse;
  margin: 0px auto;
}
th, td{
  border: solid 1px #000;
  padding: 5px;
}
tbody .odd{
  background-color: rgb(176, 123, 212);
}
tbody .even{
  background-color: rgb(210, 140, 224);
}
header h1{
  margin-top:30px
}
#footer{
  position: fixed;
  left: 0; bottom: 0; 
  padding: 10px;
  background:rgb(177, 29, 140);
  color: #fff; 
  width: 100%; 
}